#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 8px;
  background: red;
  z-index: 100;
  /* z-index: -100; */
}

p {
  margin: 100px 200px 100px 200px;
  padding: 10px;
}

.numbers {
  position: fixed;
}
